.header__container-logo {
  background: rgba(37, 37, 72, 0.7);
  border-radius: 10px;

  padding: 10px 12px 12px 12px;

  display: flex;
  align-items: center;
}

.header__logo {
  width: 40px;
  margin-right: 8px;
  background: none;
}

.header-title {
  color: #ef5eb9;
  font-size: 24px;
  background: none;

  margin-bottom: -4px;
  display: flex;
}

.header-title-pro {
  margin-left: 8px;
  color: #5172e8;
}

.header-logo-sub-title {
  color: white;
  font-size: 9px;
}
