.results__svg-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__title-text {
  width: 100%;
  text-align: left;
}

.results__svg-container {
  width: 100%;
  padding-left: 16px;
  display: flex;
  flex: 1;
}

.results__svg-personal {
  width: 50%;
}

.results__infos-personal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results__infos-personal span {
  font-size: 24px;
}

.results__infos-personal span p {
  margin-left: 8px;
  color: #cccccc !important;
}

.results__text-botton {
  text-align: center;
  margin-top: 16px;
  font-size: 18px !important;
  margin-bottom: 6px !important;
  color: #cccccc !important;
}

@media (min-width: 420px) {
  .results__svg-container {
    max-width: 355px;
  }
}
