.results__comtainer {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      transparent -3%,
      #1c2938 4%,
      #0b1b2e 35%
    ),
    url("../../../public/images/image-all-diet.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.results__header-container {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.results__logo-container {
  width: 214px;
  padding: 16px;
}

.results__green-circle-container {
  width: 110px;
  margin-top: 16px;
  margin-right: 16px;
}

.results__title-container {
  margin-top: -30px;
  padding: 16px;
  background: linear-gradient(89.97deg, #f53373 1.84%, #bf51e8 50.67%, #5172e8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results__title {
  width: 100%;
  max-width: 470px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

@media (min-width: 450px) {
  .results__title {
    font-size: 32px;
  }
}

@media (min-width: 470px) {
  .results__title {
    font-size: 34px;
  }
}

@media (min-width: 500px) {
  .results__title {
    font-size: 36px;
  }
}

@media (min-width: 520px) {
  .results__title {
    font-size: 38px;
  }
}

.results__content {
  width: 100%;
  padding: 16px 16px 0 16px;

  display: flex;
  justify-content: center;
}

.results__result-resume-container {
  width: 100%;
  max-width: 500px;
  padding: 16px 16px 16px 16px;
  margin: auto;
}

@media (min-width: 500px) {
  .results__result-resume-container {
    margin-top: 32px;
  }
}

.results__result-resume-text {
  font-size: 30px;
  font-weight: 600;
  color: rgb(240, 240, 240);
  text-align: center;
}

.results__personal-informations-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.results__personal-informations {
  width: 100%;
  color: rgb(240, 240, 240);
  text-align: center;
  background-color: rgba(16, 16, 31, 0.5);
  padding: 16px;
  border-radius: 10px;
}

.results__personal-informations:nth-child(2) {
  margin: 0 16px;
}

.results__personal-informations span {
  font-size: 32px;
}

.results__personal-informations p {
  font-size: 16px;
}

.results__personal-informations:nth-child(1) span {
  color: #f53373;
}

.results__personal-informations:nth-child(2) span {
  color: #bf51e8;
}

.results__personal-informations:nth-child(3) span {
  color: #5172e8;
}

.results__metrics-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 16px 0px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.not-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.results__final-submit-button {
  width: 100%;
  max-width: 500px;
  padding: 32px 16px 48px 16px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results__title-final-submit-button {
  font-size: 20px;
  color: rgb(240, 240, 240);
  text-align: center;
  margin-bottom: 8px;
}

.results__card-testimonial {
  max-width: 980px;
  margin: auto;
  padding: 0 16px 16px 16px;
}
