.results__comtainer {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      transparent -35%,
      #404254 25%,
      rgb(20, 20, 48)
    ),
    url("../../../public/keto-diet-image-1.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.results__logo-container {
  width: 215px;
  padding: 16px;
}

.results__green-circle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
