.home-content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.home-content__title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #d2d2d2;
  margin-top: 16px;
}

.home-content__call-method {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 32px;
  color: #d2d2d2;
}

.home-content__ol {
  margin-top: 16px;
}

.home-content__li {
  margin-top: 16px;
  font-size: 18px;
  color: #d2d2d2;
}

.home-content__objetive-text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
  color: #d2d2d2;
}

.home-content__perfil-icon {
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content__perfil-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #d2d2d2;
}

.home-content__perfil-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
  color: #d2d2d2;
}

.home-content__book-icon {
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content__button-start-now-container {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 32px;

  display: flex;
  justify-content: center;
}

.home-content__button-start-now {
  height: 70px;
  width: 100%;
  max-width: 400px;
  font-size: 24px;
  border: none;
  border-radius: 35px;
  color: #d2d2d2;
  background-image: linear-gradient(90deg, #f53373, #bf51e8, #5172e8);
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.482);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content__button-start-now:hover {
  transition: 0.3s;
  filter: brightness(0.9);
  animation: stretch 1s ease infinite;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
