.home__header-box {
  width: 100%;
  height: 16px;
  background: linear-gradient(90deg, #f53373, #bf51e8, #33f5e0, #5172e8);
}

.home__logo-container {
  width: 185px;
}

.home-comtainer {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      transparent -10%,
      #404254 5%,
      rgb(20, 20, 48)
    ),
    url("../../../public/images/keto-diet-image-1.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.home-content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.home-content__title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #d2d2d2;
  margin-top: 32px;
  text-shadow: 0 0 5px black;
}

.home-content__call-method {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 32px;
  color: #d2d2d2;
  text-shadow: 0 0 2px black;
}

.home-content__ol {
  margin-top: 16px;
}

.home-content__li {
  margin-top: 16px;
  font-size: 18px;
  color: #d2d2d2;
  text-shadow: 0 0 2px black;
}

.home-content__objetive-text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
  color: #d2d2d2;
  text-shadow: 0 0 2px black;
}

.home-content__perfil-icon {
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content__perfil-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #d2d2d2;
  text-shadow: 0 0 2px black;
}

.home-content__perfil-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
  color: #d2d2d2;
  text-shadow: 0 0 2px black;
}

.home-content__book-icon {
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content__button-start-now-container {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 32px;

  display: flex;
  justify-content: center;
}

.home-content__button-start-now {
  height: 70px;
  width: 100%;
  max-width: 400px;
  font-size: 24px;
  border: none;
  border-radius: 35px;
  color: #d2d2d2;
  background-image: linear-gradient(90deg, #f53373, #bf51e8, #5172e8);
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.482);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: animationButtonHome 1s ease infinite;
}

.home-content__button-start-now:hover {
  transition: 0.3s;
  filter: brightness(0.9);
}

@keyframes animationButtonHome {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.home-content__testimonial-container {
  padding-top: 16px !important;
}
