.sales-page__container {
  width: 100%;
  min-height: 500px;
}

.sales-page__header-color {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #f53373, #bf51e8, #33f5e0, #5172e8);
}

.sales-page__title-container {
  max-width: 700px;
  margin: auto;
  margin-top: 32px;
  padding: 0 16px;
}

.sales-page__title-container p {
  text-align: center;
  color: #97a7ca;
  font-size: 30px;
}

@media (max-width: 540px) {
  .sales-page__title-container p {
    font-size: 22px;
  }
}

@media (max-width: 460px) {
  .sales-page__title-container p {
    font-size: 20px;
  }
}

.sales-page__title-container-2 {
  max-width: 700px;
  margin: auto;
  margin-top: 32px;
  padding: 0 16px;
}

.sales-page__title-container-2 p {
  text-align: center;
  color: #eeeeee;
  font-size: 30px;
}

.sales-page__title-container-2 p strong {
  color: #f53373;
}

@media (max-width: 460px) {
  .sales-page__title-container-2 {
    margin-top: 16px;
  }
}

@media (max-width: 540px) {
  .sales-page__title-container-2 p {
    font-size: 22px;
  }
}

@media (max-width: 460px) {
  .sales-page__title-container-2 p {
    font-size: 20px;
  }
}

.sales-page__title-container-3 {
  max-width: 700px;
  margin: auto;
  margin-top: 16px;
  padding: 0 16px;
}

.sales-page__title-container-3 p {
  text-align: center;
  color: #eeeeee;
  font-size: 30px;
}

@media (max-width: 460px) {
  .sales-page__title-container-3 {
    margin-top: 16px;
  }
}

@media (max-width: 540px) {
  .sales-page__title-container-3 p {
    font-size: 22px;
  }
}

@media (max-width: 460px) {
  .sales-page__title-container-3 p {
    font-size: 20px;
  }
}

.sales-page__video-container {
  max-width: 700px;
  margin: auto;
  padding: 0 16px;
}

.sales-page__video-box {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 32px;
}

.sales-page__video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 8px #b8b8b8;
}

.sales-page__sound-text {
  max-width: 700px;
  padding: 0 16px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-page__sound-icon {
  margin-right: 8px;
  font-size: 24px;
}

@media (max-width: 460px) {
  .sales-page__sound-icon {
    font-size: 20px;
  }
}

.sales-page__sound-text p {
  text-align: center;
  color: #97a7ca;
  font-size: 20px;
}

@media (max-width: 460px) {
  .sales-page__sound-text p {
    font-size: 16px;
  }
}

.sales-page__sales-button-container {
  max-width: 500px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0 16px;
}

.sales-page__testimonial-container {
  max-width: 700px;
  margin: auto;
  margin-bottom: 32px;
  padding: 0 16px;
}
