.presell__container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #293e55 15%, #0b1b2e 55%);
  background-size: 100%;
}

.presell__content {
  height: 100%;
  padding: 128px 16px 250px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presell__green-check-img {
  width: 100px;
}

@media (max-width: 500px) {
  .presell__green-check-img {
    width: 80px;
  }
}

.presell__attention-text {
  font-size: 30px;
  color: #e6e6e6;
  margin-top: 16px;
  margin-bottom: 32px;
}

.presell__title {
  max-width: 500px;
  margin-bottom: 32px;
}

.presell__title p {
  text-align: center;
  font-size: 24px;
  color: #e6e6e6;
}

.presell__security-site-img {
  margin-top: 32px;
  height: 60px;
}
