.footer__container {
  width: 100%;
  height: 100%;
  padding: 16px;
  background: rgb(220, 220, 220);

  display: flex;
  justify-content: space-between;
}

.footer__bar {
  width: 1px;
  background: rgb(133, 133, 133);
}

.footer__container div:nth-child(1) {
  margin-right: 8px;
}

.footer__container div:nth-child(3) {
  margin-left: 8px;
}

.footer__sites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: rgb(68, 73, 108);
}

.footer__reserved-rights-container {
  width: 100%;
  padding: 16px;
  background: rgb(220, 220, 220);
  color: rgb(68, 73, 108);

  display: flex;
  justify-content: center;
}

.footer__reserved-rights {
  width: 350px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 500px) {
  .footer__container {
    justify-content: center;
  }

  .footer__container div:nth-child(1) {
    margin-right: 16px;
  }

  .footer__container div:nth-child(3) {
    margin-left: 16px;
  }
}
