.time-counter__container {
  width: min-content;

  display: flex;
}

.time-counter__time {
  width: 35px;
  height: 35px;
  margin: 0 2px;
  border-radius: 5px;
  background: rgb(19, 19, 19);

  display: flex;
  justify-content: center;
  align-items: center;
}

.time-counter__number {
  font-size: 22px;
  margin-top: 2.5px;
  color: rgb(238, 238, 238);
}

.time-counter__two-points {
  font-size: 30px;
  color: rgb(238, 238, 238);
}
